:root {
   /* Background Variables */
   --background-color: #e50202; /* Main Background Color */
   --background-input: #c77a7a; /* Input Field Background Color */
   --background-column: #660606; /* Background for Apps Container */
   --background-settings: #aa0000; /* Settings Card Background */
   --background-buttons: #c62626; /* Button Background Color */
   --tab-active-background: #532b2b; /* Accent Color for Tabs */
   --tab-inactive-background: ; /* Background Color for Tabs Not In Use */
   --slider-active-background: #b01f1f; /* Active Slider Background Color */
   --slider-inactive-background: #d51010; /* Slider Background Color */
   --nav-image: url("/./assets/media/favicon/main-inverted.png"); /* Nav Logo */
   --save-button: #a6d189; /* Save Button, Normally Green */
   /* Text Variables */
   --text-primary: #000; /* Primary Text Color */
   --text-dark: #aaa; /* Dark Text Color for Error Page, Scrollbar, and Particles */
   --text-placeholder: #555; /* Placeholder Text Color */
   /* Other Variables */
